.header{
    background: url(../images/header-background.jpg) center center no-repeat;
}
.navbar-sticky{
    opacity: 0.9;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.download{
    background: url('../images/download-background.jpg') center center no-repeat;
    background-size: cover;
}
.map iframe{
    left:0;
    top:0;
    height: 400px;
    width: 100%;
    border: none;
}

